a span#uno { color: black; text-decoration: none; size: 5em;}
a span#dos { color: black; text-decoration: none; size: 5em;}
a{text-decoration: none;}
.bg-yellow{background-color: rgba(210, 224, 2, 0.767);}
.bg-gey{background-color: rgba(58, 58, 58, 0.767);}
a#correoI{zoom:1.3;color: peru;}


.foto {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  }
img {
  width: 100%;
  height: auto;
  }


.py-pabajo{padding-bottom: 12%;}
.py-parriba{padding-top: 10%;}


 div#discord:hover{background-color: rgba(43, 43, 43, 0.514);}

a#liki:visited{color: rgb(0, 132, 255);}
a#insta:visited{color: rgb(149, 0, 207);}

div input#cheq {float: none;}
body#formulario {background: rgb(2,0,36);
    background: linear-gradient(321deg, rgba(2,0,36,1) 9%, rgba(238,255,0,0.7407913849133403) 44%);}




    
.btn-primary {background-color: rgba(221, 245, 6, 0.966);}

h2#barra{background-color: yellow;}

div#fondoGrande{background-color: rgb(192, 192, 191);}
div#fondo{color: rgb(35, 35, 37); background-color: rgb(180, 250, 76);}
div#atencion{color: rgb(35, 35, 37); background-color: rgb(240, 181, 56);}
p#principal{text-justify: auto; text-decoration: underline;}
a#pol > div{background-color: greenyellow;}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(137, 175, 1, 0.37);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(0, 255, 42);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }